/*-----------------------------------
  Open Section
  -------------------------------------*/
#open-page {
    overflow: hidden;
}

#open-about {
    position:relative;
    margin-bottom:20px;
}
#subnav {
    position: absolute;
    top: 64px;
    left:152px;
    width: 100%;
}
#subnav .limiter > div {
    display: block;
    float: left;
    padding:10px 28px;
    height:172px;
    margin:24px 0;
}
.with-border {
    border-right:1px dashed #ddd;
}
.nav-explain {
    display:block;
    width:160px;
    height:130px;
    font-size:12px;
}
.nav-short {
    display:block;
    padding:6px 0;
    width:158px;
    letter-spacing:3px;
    text-transform:uppercase;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.nav-short:hover, .nav-short.active {
    font-weight:bold;
}
/* Data Page */
#data-page .data-wrapper, #resources-page .data-wrapper {
    position: relative;
    left: 0;
    width: 100%;
}
#data-page .content, #resources-page .content {
    float: right;
    width: 800px;
}
#resources-page .content ul {
    margin-top:6px;
}
#data-page .downloads {
/*    position: absolute;
    top: 0;
    right: 54px;
    left: auto;
    width: 30%;
    max-width: 250px;
    overflow: hidden;
    margin: 20px 0;
*/
}

.nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    margin-right:10px;
}
.navigation a {
    color: #ddd;
    padding: 8px 2px 2px;
}
.navigation a:hover {
    color:#000;
}
.navigation li {
    line-height: 30px;
}
.navigation li a {
    display: block;
    padding: 0 15px;
}
.navigation li a.active {
    color:#000;
}
.navigation.fixed {
    position: fixed;
    top: 0;
    width: 150px;
    margin-right:10px;
}

.open-wrapper {
    position: relative;
    top: 0;
    left: 160px;
    width: 800px;
}

.content {
    width: 470px;;
    overflow: hidden;
    min-height: 400px;
}
.content h2 {
    display: block;
    margin: 0;
    padding: 4px 20px;
}
#resources-page .content h2 {
    border-bottom: 1px solid #555;
}
#resources-page .content h4 {
    font-size: 10px;
    color: #555;
    padding-left: 20px;
    font-weight: normal;
}
#resources-page .content p {
    padding: 10px;
}
#resources-page .content li {
    padding-left: 20px;
}

#open-footer {
    height:60px;
    background:#202020;
    padding-top: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
}

.open-drawer-content {
    position:absolute;
    top:0;
    bottom: 0;
    width:320px;
    right: -200%;
    overflow: hidden;
    background: #f6f6f6;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 2;
}
.open-drawer-content.active {
    right: 0px;
}
.largemap {
    width:310px;
    height: 220px;
    background: #ccc;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

@media screen and (min-height:530px) { .largemap { height: 320px; } }
@media screen and (min-height:630px) { .largemap { height: 420px; } }
.open-drawer-content.active.fixed {
    position: fixed;
    top: 0;
    right: 0px;
    width: 320px;
}
.open-embed-code {
    position:relative;
    margin-top: 6px;
    left:6px;
    width:92%;
}
.open-api-code {
    position:relative;
    margin-top: 6px;
    left:6px;
    width:92%;
}
.embed-label {
    float:left;
    line-height:23px;
    margin-right:6px;
    font-weight:bold;
    font-size: 13px;
}
textarea.embed-code, textarea.api-code {
    font: normal 11px/15px 'Menlo Regular',Consolas,monospace;
    float: right;
    overflow:hidden;
    width:70%;
    background: #ccc;
    display: inline-block;
    padding: 4px 10px;
    color: #666;
    height: auto;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 0 none;
}
.collection {
    border-top: 1px solid #ccc;
    position: relative;
    padding: 10px 0 0 20px;
    padding-right:40%;
    min-height:160px;
}
#open-page .collection:hover {
    background: #f6f6f6;
    cursor: pointer;
}
#open-page .collection.active {
    background:#f6f6f6;
}
.collection .details {
    /*margin-bottom: 15px;*/
}
.collection p, #resources-page .content li {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
    color:#8a8a8a;
    cursor: text;
}
.downloads {
    margin-bottom:1em;
}
.col.downloads span {
    float: left;
}
a.download {
    float:left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 6px;
}
a.download:visited,
a.download:hover {
    background: #F2F7F9;
}
#open-page .col {
    float: none;
}

.api-button, .api-button:hover {
    padding: 5px 20px 5px 0;
    float: right;
    width: 70%;
    background: none;
    font-size: 12px;
}
.api-button:hover {
    text-decoration: underline;
}
.map-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    max-width: 175px;
    overflow: hidden;
    margin: 15px 15px 15px 0;
}
.map-preview img {
    width: 100%;
}
@media screen and (max-width: 1250px) {
    .downloads .icon {
        display: none;
    }
}
.downloads span.icon.CSV {
    background-position: 0px -80px;
}
.downloads span.icon.Shapefile, .downloads span.icon.GeoTIFF {
    background-position: -40px -80px;
}
.downloads span.icon.GeoJSON {
    background-position: -80px -80px;
}
.downloads span.icon.SQLite {
    background-position: -120px -80px;
}
.downloads span.icon.MBTile {
    background-position: -200px -80px;
}
.button {
    background: #790101;
    color:#fff;
    display: block;
    text-align: center;
    padding: 5px 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight:700;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
a.button.action {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}
a.button.action:hover {
    background:#9d0000;
}
a.button.watch {
    margin-top: 25px;
    height: 30px;
    line-height: 30px;
    text-shadow: none;
}
a.button.watch:hover {
    color: #fff;
    background: #790101;
}

/*-----------------------------------
  API Modal
  -------------------------------------*/
.api-modal {
    color:#111;
    background:#666;
    background:rgba(32,32,32,0.75);
    position:fixed;
    top:0px; left:0px; right:0px; bottom:0px;
    z-index:999;
}
.api-modal .api-content {
    position:relative;
    display:block;
    margin:auto;
    top:100px;
    padding:25px 19px;
    width:620px;
    height:350px;
    background:#000;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    overflow:hidden;
    color:white;
}
.api-modal a {
    color:#fff;
    text-decoration:underline;
}
.api-modal a.api-close {
    position:absolute;
    right:10px;
    top:10px;
    width: 30px;
    height: 25px;
    background-position: -472px 8px;
}
.api-modal .api-examples {
    margin:20px 0;
    background:#444;
    padding:5px 10px;
}
.api-examples code {
    font-size:12px;
    font-weight:normal;
    color:#ccc;
}
.api-ex-labels {
    font-weight:bold;
    color:#fff;
}
