---
layout: default
class: mapbrowser
category: wax
---
<div id="map"></div>

<div class=''>
    <div id="intro-text" class='about-text'>
        <div id='map-about'>
                 <h2>Multiple map layer viewer</h2>
                 <p>This page allows you to overlay any of the static map layers available below. These are time-specific snapshots showing geographic, infrastructure, and oil spill information for a set period. More layers will be added in time. </p> 
        </div>
        <div class='datalist'>
            <div id='onlayers'>
                <ul id='sortable'>
                    {% for dataset in site.categories.maps %}

                    <li>
                      <input class='layer-link' id='{{dataset.layer}}' type="checkbox"/>
                      <label class='layer-container' for='{{dataset.layer}}'>{{dataset.title}}</label>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='codes clearfix'>
             <div class='data-embed-code'>
                 <span class='code-label'>Embed:</span>
                 <textarea class='embed-code' readonly='' wrap='off' rows='1'><iframe src="http://a.tiles.mapbox.com/v3/nigeriaoil.map-okptsd9e/mm/zoompan,tooltips,legend,bwdetect.html#7/8.352999999999994/11.981000000000003" frameborder="0" width="500" height="400"></iframe></textarea>
             </div>
             <div class='data-api-code'>
                 <span class='code-label'>API:</span>
                 <textarea class='api-code' readonly='' wrap='off' rows='1'>http://api.tiles.mapbox.com/v3/nigeriaoil.map-okptsd9e.jsonp</textarea>
             </div>
         </div>
    </div>
</div>


<script type="text/javascript">

  new MB.map('map', {
    base: 'nigeriaoil.map-5ustxk97',
    id: '',
    center: {
      lat: 4.921,
      lon: 6.726,
      zoom: 8
      },
    zoomrange: [6, 12],
    features: [
      'zoombox',
      'zoompan',
      'zoomwheel',
      'attribuition',
      'tooltips',
      'legend',
      'share'
    ]
  });
</script>
